::before,
::after {
  box-sizing: border-box;
}


html {
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
  background: linear-gradient(#615dad, #ffc8da) no-repeat;
}

.uvod {
  margin: 0 auto;
  max-width: 400px;
  background-color: #283e50;
  border-radius: 10px;
}

.obrazek {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.obsah {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
}

.nadpis {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: "Lobster", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
}

.tlacitka {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
  border-top: 2px solid #283e50;
  display: block;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

.button1__rules {
  background-color: #1fcca4;
}

.button1__rules:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.button2__start {
  background-color: #0197f6;
}

.button2__start:hover {
  background-color: #0090e9;
  cursor: pointer;
}





/*hra */

.game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lobster", sans-serif;
  margin: auto;
}

.game-main-title {
  font-family: Lobster;
  font-weight: lighter;
  color: #ffffff;
  font-size: 60px;
  margin: 5px 0 5px 0;
  margin-bottom: -22px;
}

.game-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80vmin;
  align-items: baseline;
  margin-bottom: 10px;
  margin-bottom: -22px;
}

.game-player-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  left: -17px;
}

.title-button {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  padding-right: 10px;
  font-weight: bolder;
}

.button-circle {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 27px;
  background-color: transparent;
  border: solid 3px white;
}

.game-buttons {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.game-button-home {
  width: 40px;
  height: 40px;
  background-color: #1fcca4;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #5b579e;
}

.game-button-home:hover {
  background-color: #1cbb96;
}

.game-button-restart {
  width: 40px;
  height: 40px;
  background-color: #0197f6;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #5b579e;
}

.game-button-restart:hover {
  background-color: #0090e9;
}

.grid {
  display: grid;
  max-width: 80vmin;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell-grid {
  width: 8vmin;
  height: 8vmin;
  background-color: #d4d4d4;
  opacity: 40%;
  border: 0.1rem solid black;
  display: block;
}

.cell-grid:hover,
.cell-grid:focus {
  background-color: white;
  cursor: pointer;
}
